html{
    height: 100%;
}

#rev-counter-row{
    height: 11.47%;
}

#all-except-rev-counter{
    height: 88.53%;
}

#left-shift-light-area{
    margin-right: 2.19%
}

#right-shift-light-area{
    margin-left: 2.19%
}

.shift-light-col{
    max-width: 9.86%;
}

.shift-light-row{
    height: 21.55%;
    margin-top: 31%;
}