html{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'roboto mono', monospace;
}

.bg-default{
    background-color: rgb(30,30,30);
}

/*Basic sizing and positioning*/
    #rev-counter-row{
        height: 11.47%;
    }

    #all-except-rev-counter{
        height: 88.53%;
    }

    .shift-light{
        background-color: black;
    }

    .shift-light-col{
        max-width: 12%;
    }

    .shift-light-row{
        height: 25%;
        border-top: 1.2vh solid black
    }

    #right-shift-light-area{
        border-left: 1.2vw solid black;
    }

    #left-shift-light-area{
        border-right: 1.2vw solid black;
    }

    #shift-light-4-left, #shift-light-4-right{
        border-top: none;
        background-color: rgb(255,50,50);
    }



/*z-index positioning of rev counter elements*/
    #rev-counter-col{
        position: relative;
        top: 0px;
        left: 0px;
        border-right: 10px solid red;
        background-color: rgb(30,30,30);
    }

    #current-revs{
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 95%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,77,238,1) 63%, rgba(17,154,255,1) 100%);
        border-right: 1px solid white;
        z-index: 1;
    }

    #soft-red-line{
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 7%;
        background: rgb(116,0,0);
        background: linear-gradient(90deg, rgba(116,0,0,0.0929) 0%, rgba(189,0,0,0.398) 46%, rgba(255,17,17,0.667) 100%);
        z-index: 2;
    }

/*Main Area z-index positioning*/
    #main-dash-area{
        position: relative;
        top: 0px;
        left: 0px;
        border-top: 1.7vh solid black
    }

    #dash-contents{
        position:absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    #full-screen-button{
        font-family: ubuntu;
        position: absolute;
        top: 0px; 
        left: 0px;
        height: 100%;
        width: 100%;
        font-size: 10vh;
        line-height: 70vh;
        background-color: rgb(30,30,30);
        z-index: 100;
        vertical-align: middle;
        line-height: 8vh;
        
    }

/*Car info column styling*/
    .value{
        text-align: center;
        font-family: roboto mono;
        color: white;
    }

    .label{
        text-align: left;
        font-family: ubuntu;
        color: rgb(200,200,200);
    }

    .unit{
        text-align: left;
        font-family: ubuntu;
        color: rgb(200,200,200);
    }

    .car-info{
        font-size: 3.8vh;
        line-height: 4.3vh;
    }

    .info-value{
        text-align: right;
        margin-right: 1vw;
    }
    
    span.unit{
        font-size: 4vh;
    }

    #temp-symbol{
        width: 5vw;
    }

    #gear{
        font-size: 45vh;
        line-height: 34vh;
    }

    #rpm, #speed, #speed-unit{
        font-size: 8vh;
        line-height: 13vh;
    }

/* Pedal reading styling */
    #brake-pressure-area, #throttle-pressure-area{
        max-width: 0.5vw;
        position: relative;
        top: 0px;
        left: 0px;
    }

    #brake-pressure-value, #throttle-pressure-value{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        border-radius: 3px 3px 0px 0px;
    }

    #brake-pressure-value{
        background: rgb(66,0,0);
        background: linear-gradient(0deg, rgba(150,0,0,0.5) 0%, rgba(220,0,0,0.7) 46%, rgba(255,17,17,0.9) 100%);
    }

    #throttle-pressure-value{
        background: rgb(66,0,0);
        background: linear-gradient(0deg, rgba(0,150,0,0.5) 0%, rgba(0,220,0,0.7) 46%, rgba(0,255,0,0.9) 100%);
        
    }

    #throttle-100pct-indicator{
        position: absolute;
        left: 0;
        top: 1.8vh;
        z-index: 50;
        height: 0.9vh;
        width: 100%;
    }

/* Timing section styling */
    .timing-label{
        color: rgb(200,200,200);
        font-family: ubuntu;
        font-size: 3.5vh;
        line-height: 3vh;
    }

    .timing-value{
        color: white;
        font-family: roboto mono;
        text-align: right;
        font-size: 6.5vh;
        line-height: 9.5vh;
    }

/* Lap section styling */
.lap-label{
    color: rgb(200,200,200);
    font-family: ubuntu;
    font-size: 3.5vh;
    line-height: 3vh;
}

#session-laps-complete-label, #stint-laps-complete-label{
    font-size: 3vh;
}

.lap-value{
    color: white;
    font-family: roboto mono;
    text-align: right;
    font-size: 6.5vh;
    line-height: 9.5vh;
}

.lap-unit{
    color: rgb(200,200,200);
}


    
    